.profile__user{
    min-width: 474px;
    height: 120px;
    display: grid;
    grid-template-columns: 120px auto 24px;
    grid-template-rows: repeat(2, 60px);
    grid-template-areas:
    "avatar name edit"
    "avatar career .";
    gap: 0 18px;
}

@media screen and (max-width: 542px) {
    .profile__user{
        height: auto;
        max-width: 320px;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "avatar avatar "
        "name edit"
        "career career";
        gap:0;
        min-width: auto;
        justify-items: center;
        padding-bottom: 36px;
    }   
}