.profile__user{
    display: grid;
    grid-template-columns: 120px auto 24px;
    grid-template-rows: repeat(2, 60px);
    grid-template-areas:
    "avatar text edit"
    "avatar text .";
    gap: 0 18px;
}

@media screen and (max-width: 542px) {
    .profile__user{
        height: auto;
        max-width: 320px;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "avatar ."
        "avatar ."
        "text edit"
        "text .";
        gap:0;
        min-width: auto;
        justify-items: center;
        padding-bottom: 36px;
        margin-left: 28px;
    }   
}