.profile__edit-button{
    height: 24px;
    width: 24px;
    margin: 37px 0 0 0;
    background-image: url(../../../images/Edit_Button.svg);
    background-size: contain;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
    grid-area: edit;
    opacity: 1;
}
.profile__edit-button:hover{
    opacity: 0.6;
    
}
@media screen and (max-width: 542px) {
    .profile__edit-button{
        height: 18px;
        width: 18px;
        margin: 34px 0 0 10px;
        display: flex;
    }   
}