.profile__name{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
color: #FFFFFF;
margin:22px 0 0 0 ;
padding: 0px 0px 0px 12px;
grid-area: text;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
max-width: 294px;

}
@media screen and (max-width: 542px) {
    .profile__name{
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding: 0;
        margin: 26px 0 0 0;
        max-width: 189px;
    }   
}