.popup__career{
    box-sizing: border-box;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 358px;
    height: 27px;
    border-style: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0 0 13px 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.popup__career:focus{
    outline-style: none;
  }
  @media screen and (max-width: 590px){
    .popup__career{
        width: 238px;
        height: 27px;
    }
    
}