.like-button{
padding: 0;
border: none;
background-color: transparent;
height: 19px;
width: 22px;
background-image: url(../../images/like.svg);
background-repeat: no-repeat;
margin-right: 5px;
margin-top: 5px;
cursor: pointer;
transition: 0.5s;
}

.like-button:hover{
    opacity: 0.6;
}