.popup__close-button{
    padding: 0;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.svg);
    background-size: contain;
    position: absolute;
    background-color: transparent;
    border: none;
    top: -46px;
    right: -46px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 1;
}
.popup__close-button:hover{
    opacity: 0.6;
}

@media screen  and (max-width: 590px){

    .popup__close-button{
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;

    }
    
}