.popup__container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 195px;
    z-index: 3;
}
@media screen  and (max-width: 590px){

    .popup__container{
        width: 282px;
        height: 322px;    
        top: 195px;
    }
    
}