.main{
    max-width: 100%;
    padding-top: 40px;
    margin: auto;

}
@media screen and (max-width: 895px) {
    .main{
        margin-left: 19px;
        margin-right: 19px;
    }
    
}
@media screen and (max-width: 895px) {
    .main{
        padding-top: 42px;
    }
    
}