.popup__save-button-submit{
    padding: 0;
    width: 358px;
    height: 50px;
    background-color: #000000;
    border: none;
    border-radius: 2px;
    color:#FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}
.popup__save-button-submit:hover{
    opacity: 0.8;
}

@media screen and (max-width: 590px){
    .popup__save-button-submit{
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
    
}