.card__delete-button{
    padding: 0;
    border: none;
    background-color: transparent;
    height: 19px;
    width: 18px;
    background-image: url(../../../images/Trash.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    justify-self:flex-end;
    margin-top: 20px;
    margin-right: 20px;
    }
    
    .card__delete-button:hover{
        opacity: 0.6;
    }
