.popup__close-button{
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close_icon.svg);
    position: absolute;
    background-color: transparent;
    border: none;
    top: -46px;
    right: -46px;
    transition: 0.5s;
    cursor: pointer;
}
.popup__close-button:hover{
    background-image: url(../../../images/close_icon_hover.svg);
}