.popup__container{
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 36px;
    width: 430px;
    height: max-content;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 195px;
    z-index: 3;
}
@media screen  and (max-width: 590px){

    .popup__container{
        width: 282px; 
        top: 195px;
        padding: 25px 22px;
    }
    
}