.profile__avatar{
    background-image: url(../../../images/avatar.jpg);
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    grid-area: avatar;
}