.like-button_image {
    display: inline-block; 
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s;
    }