.profile__career{
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 16px 0 0 0;
padding: 0px 0px 0px 12px;
grid-area: career;
display: flex;
align-items: flex-start;
}
@media screen and (max-width: 542px) {
    .profile__career{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding: 0;
        margin: 14px 0 0 0;
    }   
}